body {
    margin: 0;
    padding: 0;
    background: white;
}

header {
    margin-left: 24%;
    height: 18%;
    width: 70%;
    margin-top: 1%;
    background-repeat: no-repeat;
}

.nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    width: 90%;
    margin-top: -5%;
    margin-left: 1%;
    z-index: 1000;
}

.fixed {
    position: fixed;
    top: 0px;
}

hr {
    border: 0;
    position: relative;
    height: 12px;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
    margin-top: -20px;
    margin-bottom: 7%;
}

.nav li {
    line-height: 40px;
    height: 30px;
    padding-left: 0.34%;
}

.nav a {
    text-decoration: none;
    color: black;
    display: block;
    transition: .3s background-color;
    border-top: 5px solid white;
    font-family: "century gothic";
    font-size: 20px;

}

.profile_link {
    list-style: none;
    margin-left: 5%;
    margin-top: 3%;
}

.profile_link li {
    display: inline;
    padding-left: 2.34%;
}

.profile_link a {
    text-decoration: none;
    color: black;
    transition: .3s background-color;
    font-family: "century gothic";
    font-size: 20px;
}

.profile_link a:hover {
    color: rgb(59, 123, 246);
}

.nav a:hover {
    border-top: 5px solid rgb(59, 123, 246);
}

@media screen and (min-width: 600px) {
    .nav li {
        width: 120px;
        border-bottom: none;
        height: 50px;
        line-height: 50px;
        font-size: 1.4em;
    }

    .nav li {
        display: inline-block;
        margin-right: -4px;
    }
}

footer {
    width: 80%;
    height: 30%;
    border: 1px dotted rgba(100, 30, 0, 0.2);
    margin-left: 10%;
    margin-top: 7%;
    margin-bottom: 5%;
    background-image: url("footer.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    border-top: none;
}

.content {
    background-color: white;
    width: 80%;
    margin-left: 10%;
    border: 1px dotted rgba(0, 0, 0, 0.2);
}

input, textarea, label {
    margin-left: 25%;

}

textarea {
    border: 1px solid rgb(59, 123, 246);
    box-shadow: 0 0 3px rgba(59, 123, 246, 1);
}

label {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
}

.error {
    font-family: 'Oswald', sans-serif;
    font-size: 0.7em;
    color: red;
}

.text_hendo {
    font-size: 18px;
    font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
    color: darkgray;
    text-align: left;
    line-height: 1.7;
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 3%;
}

img {
    width: 90%;
    height: 80%;
    margin-left: 5%;
    margin-top: 5%;
}

img[alt="greg"] {
    height: 60%;
    margin-bottom: 5%;
}

img[alt="main"] {
    margin-bottom: 5%;
    margin-top: 1%;
}

iframe {
    margin-left: 23%;
    margin-bottom: 5%;
    width: 40%;
    height: 40%;
}

img[alt="hendo"] {
    height: 12%;
    max-height: 120px;
    max-width: 176px;
    width: 60%;
    margin-left: -16%;
    margin-top: 1%;
    position: absolute;
}

img[alt="404"] {
    margin-left: 500px;
}

.loh {
    position: fixed;
    margin-top: 2%;
    margin-left: 68%;
    text-decoration: none;
    font-family: "century gothic";
    color: rgb(59, 123, 246);
    font-size: 0.8em;
    background-color: white;
}

.prof {
    position: absolute;
    margin-left: 68%;
    margin-top: -2%;
    text-decoration: none;
    font-family: "century gothic";
    color: rgb(59, 123, 246);
    font-size: 0.8em;
}

.loh:hover {
    text-decoration: underline;
}

#container {
    display: none;
    opacity: 0.8;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 16px;
    background-color: rgba(1, 1, 1, 0.725);
    z-index: 100;
    overflow: auto;
}

#signForm {
    width: 400px;
    height: 400px;
    margin: 50px auto;
    display: none;
    background: #fff;
    z-index: 200;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 16px;
    border-radius: 4%;
}

#close {
    height: 30px;
    width: 30px;
    margin-left: 95%;
    margin-top: -2%;

}

#RForm {
    width: 400px;
    height: 400px;
    margin: 50px auto;
    display: none;
    background: #fff;
    z-index: 200;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 16px;
    border-radius: 4%;
}

#containerR {
    display: none;
    opacity: 0.8;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 16px;
    background-color: rgba(1, 1, 1, 0.725);
    z-index: 100;
    overflow: auto;
}

a[name='wo']:hover {
    text-decoration: underline;
}

a[name='new'] {
    position: absolute;
    margin-left: 45%;
}

.ex {
    color: yellow;
}

.profile_photo {
    margin-left: 5%;
    margin-top: -4%;
    max-width: 200px;

}

.profile_photo_all {
    margin-left: 5%;
    margin-top: -4%;
    max-width: 80px;
}

.profile_name_all {
    font-family: "century gothic";
    color: rgb(59, 123, 246);
    margin-left: 23%;
    margin-top: 0%;
    font-size: 20px;
}

.photo {
    max-width: 100%;
    float: left;
    border-radius: 2%;
    height: auto;
    box-shadow: 7px 7px 31px -10px rgba(107, 107, 107, 1);
}

.profile_name {
    font-family: "century gothic";
    color: rgb(59, 123, 246);
    margin-left: 23%;
    margin-top: 7.5%;
    font-size: 20px;
}

.profile_name_friend a {
    text-decoration: none;
    font-family: "century gothic";
    color: rgb(59, 123, 246);
    margin-left: 3%;
    margin-top: 10%;
    font-size: 15px;
}

.profile_name_friend_sendTo a {
    text-decoration: none;
    font-family: "century gothic";
    color: rgb(59, 123, 246);
    margin-left: 3%;
    margin-top: 10%;
    font-size: 15px;
}

.profile_name_friend {
    margin-top: 5%;
}

.mail_form {
    margin-left: 20%;
    margin-top: -25%;
}

.mail_form input {
    margin-top: 1%;
    width: 10%;
    height: 5%;
}

.mail {
    width: 55%;
    height: 20%;
}

.profile_contact {
    font-variant: small-caps;
    font-family: "century gothic";
    color: black;
    margin-left: 23%;
    margin-top: 1%;
    font-size: 15px;
}

.about_text {
    font-family: 'Arial';
    font-size: 13px;
}

.profile_contact input {
    width: 120px;
    height: 30px;
    background-color: rgba(59, 123, 246, 0.6);
    margin-left: 0%;
}

.one_mail {
    margin-left: 5%;
    margin-top: -4%;
    max-width: 800px;
}

.profile_photo_mail {
    width: 50px;
}

.time {
    font-family: "century gothic";
    font-variant: small-caps;
    color: black;
    font-size: 13px;
    margin-left: 4%;
}

.add_send {
    color: darkblue;
    font-weight: bold;
    background-color: ivory;
    text-decoration: none;
    font-family: Arial;
}

.add_send:hover {
    background-color: gold;
}

.profile_name_friend_sendTo {
    margin-top: 9%;
}

.friends {
    border-left: 1px solid #A0A0A0;
    margin-left: 50%;
    margin-top: -8%;
    width: 600px;
    min-height: 300px;
}

.friends hr {
    border: 0;
    margin-top: 0%;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.mails hr {
    border: 0;
    margin-top: 0%;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.friends_send_to {
    border-top: 1px solid #A0A0A0;
    margin-left: 1%;
    margin-top: 0%;
    width: 400px;
    min-height: 300px;
    height: auto;
}

.profile_photo_friend {
    margin-left: 5%;
    margin-top: 5%;
    max-width: 70px;
}

.profile_photo_friend_sendTo {
    margin-left: 5%;
    margin-top: 3%;
    max-width: 120px;
}

.profile_photo_friend img {
    border-radius: 10%;
}

.your_friends {
    font-family: "century gothic";
    font-variant: small-caps;
    color: black;
    font-size: 17px;
    margin-left: 45%;
}

.p_n {
    margin-top: 4%;
    min-height: 50px;
}

.select_mail {
    margin-top: -7%;
    min-height: 10%;
    width: 200px;
    border-right: 1px solid #A0A0A0;
    border-bottom: 1px solid #A0A0A0;
    border-top: 1px solid #A0A0A0;
}

.send {
    color: red;
}

.select_mail a {
    font-family: "century gothic";
    font-variant: small-caps;
    color: black;
    font-size: 20px;
    margin-top: 19%;
    margin-left: 23%;
    padding: 2%;
    text-decoration: none;
}

.select_mail a:hover {
    color: #A0A0A0;
}

.mail_text {
    font-family: "century gothic";
    font-variant: small-caps;
    color: black;
    font-size: 15px;
    margin-left: 5%;
}

.mails {
    width: 800px;
    min-height: 70%;
    height: auto;
    border-right: 1px solid #A0A0A0;
    border-left: 1px solid #A0A0A0;
    margin-left: 23%;
    margin-top: -7%;

}

.profile_name_mail a {
    text-decoration: none;
    color: rgb(59, 123, 246);
    font-family: "century gothic";
    font-size: 15px;
    margin-top: 15%;
    margin-left: 4%;
}

.profile_name_mail {
    margin-top: 9%;
}