<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://localhost/web/4/god/views/index.css">
</head>
<body class="news">
<header>
    <img alt="hendo" src="http://localhost/web/4/god/views/hendo.png"/>
    <ul class="profile_link">
        <li><a href="">Home</a></li>
        <li><a href="">Friends</a></li>
        <li><a href="">Settings</a></li>
    </ul>
    <a class="loh" name='reg' href = "http://localhost/web/4/god/login/out">Sign out</a><br/><br/>
    <a class="loh" name='reg' href = "/web/4/god/profile/view">Profile</a><br/><br/>
</header>
<hr/>