s<style>
    table {
        margin-left: 15%;
        margin-top: 0%;
        width: 70%;
        height: 50%;
        border: 1px dotted;
        border-color: #666666;
        font-family: "century gothic";
        text-align: center;
    }

    td {
        border: 1px dotted black;
    }

    caption {
        font-family: "century gothic";
        font-size: 2em;
    }

    .first {
        background-color: lightblue;
        text-align: center;
    }

    a[name='arr'] {
        text-decoration: none;
        color: black;
    }
</style>

<table>
    <caption>Pages control</caption>
    <tr class='first'>
        <td><a name='arr' href="http://localhost/web/4/god/admin/pages/?sort=topic">▲</a>Topic<a name='arr'
                                                                                                 href="http://localhost/web/4/god/admin/pages/?sort=topicD">▼</a>
        </td>
        <td><a name='arr' href=\"pages.php?sort=author\">▲</a>Author<a name='arr' href=\"pages.php?sort=authorD\">▼</a>
        </td>
        <td><a name='arr' href=\"pages.php?sort=published\">▲</a>Published<a name='arr'
                                                                             href=\"pages.php?sort=publishedD\">▼</a>
        </td>
        <td><a name='arr' href=\"pages.php?sort=authorized\">▲</a>Authorized<a name='arr'
                                                                               href=\"pages.php?sort=authorizedD\">▼</a>
        </td>
        <td><a name='arr' href=\"pages.php?sort=order\">▲</a>Order<a name='arr' href=\"pages.php?sort=orderD\">▼</a>
        </td>
        <td><a href=\"pages.php?sort=delete\">Delete</td>
        <td>Edit</td>
    </tr>